body {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#contact iframe {
    width: 100%;
}

.container h3 {
    display: inline;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 400;
}

.container h4 {
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 400;
}

.container a {
    text-shadow: none;
}

input {
    background: grey;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.travel_mainDiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

.travel_mainDiv img {
    width: 100%;
    height: 300px;
}

.travel_mainDiv hr {
    width: 100%;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}

#achievemntsID {
    padding-bottom: 10px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_head span {
    color: #ff7700;
}

#school_Achievement2 p {
    margin-left: 270px;
}

#school_Achievement2 h5 {
    margin-left: 270px;
}

#school_Achievement3 p {
    margin-left: 430px;
}

#school_Achievement3 h5 {
    margin-left: 430px;
}

.environment_li {
    margin-top: 13px;
}

.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img {
    border-radius: 25px;
    height: 250px;
}

.environment_li p {
    margin-top: 10px;
}
